body,
html {
  margin: 0 auto;
}
body {
  -webkit-font-smoothing: antialiased;
  width: 1440px;
}

/*_____________________________________LOGO____________________________________*/

.logo {
  position: fixed;
  height: 8%;
  top: 10px;
  right: 10px;
  z-index: 10;
}

/*_____________________________________MENU____________________________________*/

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  width: 1920px;
  margin-left: -16.7%;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;

  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /*Importantforverticalalignonmobilephones*/
  margin: 0;
  /*Importantforverticalalignonmobilephones*/
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 147px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/*_____________________________________FOOTER____________________________________*/

footer {
  margin-top: -16px;
  display: block;
  background-color: #000;
  margin-left: -16.7%;
  width: 1920px;
  height: 200px;
  margin-bottom: 0;
}
p.fix {
  margin-bottom: 50px;
}
.nazov {
  margin-bottom: 0;
  margin-top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 36.8%;
  font-size: 15px;
  color: #ffb8c6;
}
.adresa {
  margin-bottom: 0;
  margin-top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 42.75%;
  font-size: 15px;
  color: #ffb8c6;
}
.telefon {
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 39.75%;
  color: #ffb8c6;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  height: 20px;
  overflow: hidden;
}
.telefonodrb {
  margin-bottom: 0;
  margin-top: 0;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #ffb8c6;
  margin-left: 2%;
  font-size: 14px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  height: 20px;
  overflow: hidden;
}
.telefon:hover {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-size: 18px;
}
.telefonodrb:hover {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-size: 18px;
}
.mail {
  margin-bottom: 0;
  margin-top: -5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 45.5%;
  font-size: 15px;
  color: #ffb8c6;
}
.copyright {
  display: inline-block;
  color: #ffb8c6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  margin-left: 5%;
  margin-bottom: 0%;
  margin-top: 10px;
}
.made {
  display: block;
  color: #ffb8c6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  margin-left: 80%;
  margin-bottom: 0;
  margin-top: -15px;
}
.BSK {
  display: block;
  position: absolute;

  margin-top: 2%;
  margin-left: 13%;
}
.picture-BSK {
  height: 140px;
  width: 200px;
  background: url("/foto/kraj.png") no-repeat;
  background-size: 60%;
}
.container3 {
  display: flex;
  position: absolute;
  margin-left: 55%;
  margin-top: 4%;
}
.picture-fb {
  height: 50px;
  width: 50px;
  background: url("foto/gb.png") no-repeat;
  background-size: 50%;
}
.picture-ytb {
  height: 50px;
  width: 50px;
  background: url("foto/youtube.jpg") no-repeat;
  background-size: 50%;
}
.picture-ig {
  height: 50px;
  width: 50px;
  background: url("foto/ig.jpg") no-repeat;
  background-size: 100%;
}
.position {
  margin-top: -12px;
  margin-left: -10px;
}

/*_____________________________________CONTENT____________________________________*/

article {
  display: inline-block;
  margin-top: 100px;
  height: 250px;
  font-size: 25px;
  margin-bottom: 200px;
  margin-left: 5%;
}
article h2 {
  font-size: 40px;
  font-family: monospace;
  margin-bottom: 30px;
  margin-left: 6%;
}
article p {
  max-width: 700px;
  float: left;
  margin-left: 3%;
  margin-top: 30px;
  margin-right: 3%;
}

.container {
  display: block;
  padding: 50px 30px 30px 80px;
  width: 400px;
  height: 300px;
  float: right;
  margin-top: -290px;
}
.picture-programator {
  height: 300px;
  width: 400px;
  background: url("/IKT-stranka/robot.jpg") no-repeat;
  background-size: 100%;
}

aside {
  display: block;
  margin-left: 12%;
  margin-right: 12%;
  font-size: 25px;
  margin-bottom: 150px;
}
aside h3 {
  font-size: 30px;
  margin-left: 8%;
  font-family: monospace;
}
aside ul {
  float: left;
  margin-top: 0;
  margin-right: 13%;
}
aside ul li {
  list-style: circle;
}
.up {
  margin-top: -6%;
  margin-left: 65%;
}
